.container {
    margin-top: 4rem;
  }
  
  .container p {
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    font-family: serif;
  }
  
  .form-container {
    display: flex;
    margin-bottom: 2rem;
  }
  
  .form-grid {
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 13px;
  }
  
  @media (min-width: 1024px) and (max-width: 1434px) {
    .form-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    .form-grid {
      grid-template-columns: 1fr;
    }
    .mb-3 {
      flex-direction: column;
    }
  }
  
  @media (min-width: 425px) and (max-width: 767px) {
    .form-grid {
      grid-template-columns: 1fr;
    }
    .container p {
      font-size: 56px;
    }
  }
  
  @media (max-width: 424px) {
    .form-grid {
      grid-template-columns: 1fr;
    }
    .container p {
      font-size: 56px;
    }
  }
  
  .mb-3 {
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
  }
  
  .form-label {
    font-size: 29px;
    color: #42526e;
  }
  
  .form-control,
  .form-select {
    min-width: 313px;
    background: #ffffff;
    border: 1px solid #939393;
    border-radius: 9px;
    padding: 10px;
    font-size: 16px;
  }
  
  .form-control {
    height: 50px;
  }
  
  .form-select {
    height: 74px;
  }
  
  .btn {
    min-width: 252px;
    height: 86px;
    background: #4562db 0% 0% no-repeat padding-box;
    border-radius: 9px;
    text-transform: none;
    color: #ffffff;
    font-size: 26px;
    margin-top: 2rem;
    border: none;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  


